:root {
  --text-color-1: #f3f3f3;
  --text-color-2: #76808c;

  --background-color-1: #0e151c;
  --background-color-2: #1f2329;
  --background-color-3: #303843;
  --background-color-4: #14344a;
  --background-color-5: #222b44;

  --goz-blue-1: #66c1f5;
  --goz-blue-2: #4b619c;

  --accent-color-1: #b9f044;
  --accent-color-2: #a74537;
  --accent-color-3: #a0924e;
}

@font-face {
  font-family: "Motiva Sans";
  src: url("../fonts/MotivaSansMedium.woff.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Motiva Sans";
  src: url("../fonts/MotivaSansBold.woff.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

body * {
  font-family: "Motiva Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-color-1);
}

a {
  text-decoration: none;
  color: var(--text-color-1);
}

body {
  background-color: var(--background-color-5);
}

/* INFO: NAVBAR */

.navcontainer,
.sidebar {
  background-color: var(--background-color-1);
  padding: 0.8rem;
}

.navcontainer h3,
.sidebar h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.navcontainer .navlogo,
.sidebar .navlogo {
  text-align: center;
}

.navcontainer .favicon,
.sidebar .favicon {
  width: 2rem;
  height: 2rem;
  fill: var(--text-color-1);
  vertical-align: middle;
}

.navcontainer .navlink-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navcontainer .navlink-container .navlink {
  text-align: center;
  font-weight: bold;
}
.navlink.active {
  color: var(--goz-blue-1);
  border-bottom: 2px solid var(--goz-blue-1);
}

.navaction {
  display: flex;
  align-items: center;
  justify-content: end;
}

.navaction .bxs-group,
.navaction .bxs-bell {
  background-color: var(--background-color-3);
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: var(--text-color-1);
  margin-right: 0.3rem;
}

.navaction .bxs-bell {
  background-color: var(--accent-color-1);
  color: var(--background-color-1);
}

.navaction .navprofile {
  height: 2.2rem;
  padding: 0.143rem;
  display: flex;
  align-items: center;
  background-color: var(--background-color-3);
}

.navaction .profpic {
  width: 1.9rem;
  height: 1.9rem;
}

.navaction .user-name {
  padding: 0rem 1rem 0rem 0.3rem;
}

.navaction .navprofile .navwallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navaction .dropdown-toggle::after {
  margin: 0.6rem;
}

.navaction .dropdown-menu {
  background-color: var(--background-color-3);
  border: none;
  border-radius: 0px;
  width: 100%;
  padding: 0;
}

.navaction .dropdown-item {
  color: var(--text-color-1);
  padding: 0.6rem 1rem;
}

.navaction .profile {
  color: var(--text-color-1);
  border-top: 1px solid var(--text-color-2);
}

.navaction .dropdown-item:hover {
  background-color: var(--text-color-1);
  color: var(--background-color-3);
}

.navaction .logout {
  border-top: 1px solid var(--text-color-2);
}

/* INFO: SIDEBAR */

.open-sidebar {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  visibility: visible;
  background-color: var(--background-color-1);
  transition: all 0.2s ease-in-out;
}

.open-sidebar {
  justify-content: end;
  align-items: center;
  font-size: 1.5rem;
}

.close-sidebar {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 1.5rem;
}

.sidebar .navlogo {
  text-align: left;
}

.sidebar .navlink {
  border: 0;
  padding: 0.8rem 0;
  justify-content: center;
}

.sidebar .navlink.active {
  background-color: var(--background-color-4);
}

.sidebar .navaction {
  padding: 0;
  justify-content: center;
  background-color: var(--background-color-3);
  height: 3rem;
}

.sidebar .header-row {
  margin-top: 0.8rem;
}

.sidebar .navaction .bxs-bell {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 767px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 767px) {
  .navcontainer .navlink-container,
  .navcontainer .navaction {
    display: none;
    align-items: space-between;
  }

  .navcontainer .navlink-container,
  .navcontainer .navlogo {
    text-align: left;
  }

  .open-sidebar {
    display: flex;
  }
}

@media (max-width: 319px) {
  .sidebar .navaction .user-name {
    display: none;
  }

  .sidebar .navaction .profpic {
    margin-right: 0.2rem;
  }
}
